## gencodegouv -- Part of codegouv project - generates static HTML files from YAML data
## By: Marine Gout <marine.gout@data.gouv.fr>
##     Emmanuel Raviart <emmanuel.raviart@data.gouv.fr>
##     Guillaume Royer <guillaume.royer@data.gouv.fr>
##
## Copyright (C) 2015 Etalab
## https://git.framasoft.org/etalab/gencodegouv
##
## gencodegouv is free software; you can redistribute it and/or modify
## it under the terms of the GNU Affero General Public License as
## published by the Free Software Foundation, either version 3 of the
## License, or (at your option) any later version.
##
## gencodegouv is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU Affero General Public License for more details.
##
## You should have received a copy of the GNU Affero General Public License
## along with this program.  If not, see <http:>www.gnu.org/licenses/>.
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title><%block name="title"/></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/bundle.css" charset="utf-8">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha256-3dkvEK0WLHRJ7/Csr0BZjAWxERc5WH7bdeUya2aXxdU= sha512-+L4yy6FRcDGbXJ9mPG8MT/3UCDzwR9gPeyFNMCtInsol++5m3bk2bXWKdZjvybmohrAsn3Ua5x8gfLnbE1YkOg==" crossorigin="anonymous">
</head>
<body>
  <header class="header">
    <h1><img src="/assets/images/logo.png"></h1>
  </header>
  <div class="navbar">
    <nav class="navbar-menus">
      <ul>
        <li>
          <a href="index.html">Home</a>
        </li>
      </ul>
      <ul class="right">
        <li id="languageMenu"></li>
      </ul>
    </nav>
  </div>
  <section class="content">
    ${self.body()}
  </section>
  <footer class="footer bg-silver">
    <div class="clearfix px1">
      <div class="md-col md-col-4">
        <h4>About</h4>
    </div>
  </footer>
  <script type="text/javascript" src="/bundle.js"></script>
</body>
</html>
