## gencodegouv -- Part of codegouv project - generates static HTML files from YAML data
## By: Marine Gout <marine.gout@data.gouv.fr>
##     Emmanuel Raviart <emmanuel.raviart@data.gouv.fr>
##     Guillaume Royer <guillaume.royer@data.gouv.fr>
##
## Copyright (C) 2015 Etalab
## https://git.framasoft.org/etalab/gencodegouv
##
## gencodegouv is free software; you can redistribute it and/or modify
## it under the terms of the GNU Affero General Public License as
## published by the Free Software Foundation, either version 3 of the
## License, or (at your option) any later version.
##
## gencodegouv is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU Affero General Public License for more details.
##
## You should have received a copy of the GNU Affero General Public License
## along with this program.  If not, see <http:>www.gnu.org/licenses/>.
<%inherit file="base.html"/>
<h1>Index</h1>
<%
software_names_by_first_letter = {}
for software_name in sorted(software_names):
    software_names_by_first_letter.setdefault(software_name[0], []).append(software_name)
%>\
% for first_letter, same_first_letter_software_names in sorted(software_names_by_first_letter.items()):
  <h3>${first_letter}</h3>
  <div class="clearfix">
  % for software_name in same_first_letter_software_names:
    <a href="${software_name}.html">
      <div class="md-col md-col-4 py1 center flex flex-column items-center justify-end" style="height: 200px">
    % if software_name in software_images:
      <img src="${software_images[software_name]}" alt="${software_name}" class="fit block mb1" />
    % else:
      <h4>No screenshot available</h4>
    % endif
      ${software_name}
      </div>
    </a>
  % endfor
  </div>
% endfor
