## gencodegouv -- Part of codegouv project - generates static HTML files from YAML data
## By: Marine Gout <marine.gout@data.gouv.fr>
##     Emmanuel Raviart <emmanuel.raviart@data.gouv.fr>
##
## Copyright (C) 2015 Etalab
## https://git.framasoft.org/etalab/gencodegouv
##
## gencodegouv is free software; you can redistribute it and/or modify
## it under the terms of the GNU Affero General Public License as
## published by the Free Software Foundation, either version 3 of the
## License, or (at your option) any later version.
##
## gencodegouv is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU Affero General Public License for more details.
##
## You should have received a copy of the GNU Affero General Public License
## along with this program.  If not, see <http:>www.gnu.org/licenses/>.
<%inherit file="base.html"/>
<h1 class="headline px1">
  ${software['name']}
</h1>
<section class="description px1">
  <h2>
    <i class="tag icon"></i>
    Description
  </h2>
  <div>
    <%
    debian = software['debian']
    screenshot = debian.get('screenshot')
    %>\
    % if screenshot is not None:
    <a id="ModalImg" href="#modalDiv">
      <img src="${screenshot['small_image_url']}" class="right mx1" />
    </a>
    <div id="modalDiv" class="modal">
      <i></i>
      <div>
        Screenshot
      </div>
      <div>
        <div>
          <img src="${screenshot['large_image_url']}">
        </div>
      </div>
    </div>
    % endif
    <%
    description = debian['description']
    language_description = description.get(language) or description['en']
    %>\
    <p>
      ${language_description['long_description']}
    </p>
  </div>
</section>
<section class="specifications px1">
  <h4>
    <i></i>
    Specifications
  </h4>
  <table class="table-light">
    <tbody>
      <tr>
        <td>Version actuelle</td>
        <td>42.0 (stable) - 03/11/2015 </td>
      </tr>
      <tr>
        <td>Recommandations</td>
        <td>Logiciel recommandé <a href="#">SILL</a> (MIMO)</td>
      </tr>
      <tr>
        <td>Téléchargement</td>
        <td><a href="#">Version 42.0</a></td>
      </tr>
      <tr>
        <td>Fiche complète</td>
        <td><a href="#">Fiche au format YAML (6,8 Mo)</a></td>
      </tr>
    </tbody>
  </table>
  <p>&nbsp;</p>
</section>
<section class="data">
  <h3 class="px1">
    <i></i>
    Données disponibles
  </h3>
  <div class="md-flex flex-wrap">
    <section class="card architecture md-col-4 flex flex-column">
      <h3 class="card-heading m0 p1">Architecture</h3>
      <div class="card-content p1">
          Version XX.XX.YY : i386
      </div>
      <div class="card-footer p1 bg-aqua">
        <a href="#">Plus d'informations</a>
      </div>
    </section>
    <section class="card licence md-col-4 flex flex-column">
      <h3 class="card-heading m0 p1">Licence</h3>
      <div class="card-content p1">
        <a href="#">GPL</a> : short description.
      </div>
      <div class="card-footer p1 bg-aqua">
        <a href="#">Plus d'informations</a>
      </div>
    </section>
    <section class="card sourcecode md-col-4 flex flex-column">
      <h3 class="card-heading m0 p1">Code source - commits</h3>
      <div class="card-content p1">
        <div>
          <i></i>
          <div>
            <a href="#">30/11/2015 - 18:42</a>
          </div>
        </div>
        <div>
          <i></i>
          <div>
            <a href="#">30/11/2015 - 17:33</a>
          </div>
        </div>
      </div>
      <div class="card-footer p1 bg-aqua">
        <a href="#">Plus d'informations</a>
      </div>
    </section>
    <section class="card security md-col-4 flex flex-column">
      <h3 class="card-heading m0 p1">Sécurité - CVE</h3>
      <div class="card-content p1">
        <i></i>
        <div>
          <a href="#">CVE-2015-7327</a> Mozilla Firefox before 41.0 does not properly restrict the availability of High Resolution Time API times, which allows remote attackers to track last-level cache access, and consequently obtain sensitive information, via crafted JavaScript code that makes performance.now calls.
        </div>
      </div>
      <div class="card-footer p1 bg-aqua">
        <a href="#">Plus d'informations</a>
      </div>
    </section>
    <section class="card documentation md-col-4 flex flex-column">
      <h3 class="card-heading m0 p1">Documentation</h3>
      <div class="card-content p1">
        Version XX.XX.YY : <a href="#">30/11/2015</a>
      </div>
      <div class="card-footer p1 bg-aqua">
        <a href="#">Plus d'informations</a>
      </div>
    </section>
    <section class="card usage md-col-4 flex flex-column">
      <h3 class="card-heading m0 p1">Cas d'usage</h3>
      <div class="card-content p1">
        <div>
          <i></i>
          <div>
            <a href="#">SGMAP/DINSIC</a>
          </div>
        </div>
        <div>
          <i></i>
          <div>
            <a href="#">MAE</a>
          </div>
        </div>
        <div>
          <i></i>
          <div>
            <a href="#">Fiche PLUME</a>
          </div>
        </div>
      </div>
      <div class="card-footer p1 bg-aqua">
        <a href="#">Plus d'informations</a>
      </div>
    </section>
    <section class="card interoperability md-col-4 flex flex-column">
      <h3 class="card-heading m0 p1">Interopérabilité</h3>
      <div class="card-content p1">
        Conforme aux normes du World Wide Web Consortium (HTML, XHTML, JavaScript/ECMAScript, SVG, HTML5, CSS3, etc.)
      </div>
      <div class="card-footer p1 bg-aqua">
        <a href="#">Plus d'informations</a>
      </div>
    </section>
    <section class="card formations md-col-4 flex flex-column">
      <h3 class="card-heading m0 p1">Formations</h3>
      <div class="card-content p1">
        Aucune formation prévue pour le moment.
      </div>
      <div class="card-footer p1 bg-aqua">
        <a href="#">Plus d'informations</a>
      </div>
    </section>
    <section class="card accessibility md-col-4 flex flex-column">
      <h3 class="card-heading m0 p1">Accessibilité</h3>
      <div class="card-content p1">
        <div>
          <i></i>
          <div>
            <a href="#">Fonctionnalité spécifiques (Mozilla)</a>
          </div>
        </div>
        <div>
          <i></i>
          <div>
            <a href="#">Référentiel</a>
          </div>
        </div>
      </div>
      <div class="card-footer p1 bg-aqua">
        <a href="#">Plus d'informations</a>
      </div>
    </section>
  </div>
</section>
<section class="discussion px1">
  <h4>
    <i></i>
    Discussion
  </h4>
  <div>
    <div id="discourse-comments">
    </div>
  </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script>
$(document).ready(function () {
//modal
$('#ModalImg').click(function () {
  $('#modaldiv')
    //.modal({closable: true})
    .modal('show');
});
});
</script>
% if language == 'fr':
<script>
// Generate embedded block for Discourse discussion.
DiscourseEmbed = {
discourseUrl: 'https://forum.etalab.gouv.fr/',
discourseEmbedUrl: 'https://code.gouv2.fr/${language}/${software['name']}.html'
};

(function() {
var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
})();
</script>
% endif
