/**
 * gencodegouv -- Part of codegouv project - generates static HTML files from YAML data
 * By: Marine Gout <marine.gout@data.gouv.fr>
 *     Emmanuel Raviart <emmanuel.raviart@data.gouv.fr>
 *     Guillaume Royer <guillaume.royer@data.gouv.fr>
 *
 * Copyright (C) 2015 Etalab
 * https://git.framasoft.org/etalab/gencodegouv
 *
 * gencodegouv is free software; you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * gencodegouv is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http:>www.gnu.org/licenses/>.
 */
@import "normalize.css";
@import 'basscss-type-scale';
@import 'basscss-typography';
@import 'basscss-layout';
@import 'basscss-align';
@import 'basscss-margin';
@import 'basscss-padding';
@import 'basscss-grid';
@import 'basscss-flexbox';
@import 'basscss-position';
@import 'basscss-border';
@import 'basscss-hide';

@import "modal.css";

:root {
  --container-width: 1127px;
  --grey: #ddd;
  --text-color: #333;

  --aqua:  #7FDBFF;
  --blue:  #0074D9;
  --navy:  #001F3F;
  --teal:  #39CCCC;
  --green: #2ECC40;
  --olive: #3D9970;
  --lime:  #01FF70;

  --yellow:  #FFDC00;
  --orange:  #FF851B;
  --red:     #FF4136;
  --fuchsia: #F012BE;
  --purple:  #B10DC9;
  --maroon:  #85144B;

  --white:  #FFFFFF;
  --silver: #DDDDDD;
  --gray:   #AAAAAA;
  --black:  #111111;
}

* {
  box-sizing: border-box;
}

a {
  transition: color .4s;
  color: #265C83;
}

a:link,
a:visited {
  color: var(--blue);
}
a:hover {
  color: color(var(--blue) lightness(+20%));

  & img {
    box-shadow: 0px 0px 3px 1px var(--blue);
    transition: box-shadow 0.3s;
  }
}
a:active  {
  transition: color .3s;
  color: color(var(--blue) lightness(+20%));
}

table, th, td {
  border: 1px solid rgba(0,0,0,.0625);
}

td {
  padding: var(--space-1);
}


.header,
.navbar,
.content,
.footer {
  & > * {
    max-width: var(--container-width);
    margin: auto;
  }
}

.header {
  padding-top: 10px;
}

.navbar {
  background-color: var(--blue);
  border-bottom: 1px solid var(--grey);
  margin-bottom: 10px;
  & > .navbar-menus {
    & > ul {
      display: inline-block;
      padding: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
      margin: auto;
      & > li {
        display: inline-block;
        & > a,
        & > div > a {
          display: block;
          padding: 20px;
          box-sizing: border-box;
          text-decoration: none;
          color: var(--white);
          &:hover,
          &:active {
            color: color(var(--white) lightness(-20%));
          }
        }
      }
    }
  }
}

.dropdown-menu {
  position: absolute;
  border: 1px solid var(--grey);
  background-color: var(--white);
  z-index: 111;
  & > li > a {
    display: block;
    padding: 10px;
  }
}


.content {
  & > section.data {
    border-top: 1px solid var(--grey);
  }
}

section.data {
  & > .md-flex > .card {
    & > .card-content {
      flex: auto;
    }

    & > .card-footer {
      text-align: right;
    }

    margin-bottom: 10px;
    box-shadow: 0px 51px 0px -50px var(--grey);
  }
}

footer {
  background-color: var(--silver);
}
